@page "/rich-editor-callback"
@rendermode InteractiveServer
@inject IJSRuntime JS

<h3>Rich Editor With Callback</h3>

<div class="row">
    <div class="col-sm-6">
        <MyComps.RichEditor EditorInitialized="@ListenEditor"></MyComps.RichEditor>
    </div>
    <div class="col-sm-6">
        <div class="ql-container ql-snow" style="border: none">
            <span class="ql-editor" style="font-size: 14px; line-height: 1.5" @ref="contentPreview"></span>
        </div>
    </div>
</div>

@code {
    ElementReference contentPreview;
    IJSObjectReference objJS = default!;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            objJS = await JS.InvokeAsync<IJSObjectReference>("import", "./Components/RichEditor.razor.js");
        }
    }

    async Task ListenEditor()
    {
        await objJS.InvokeVoidAsync("BlazorQuill.listen", contentPreview);
    }
}
