@page "/rich-editor"
@rendermode InteractiveServer

<h3>Rich Editor</h3>

<div class="row">
    <div class="col-sm-6">
        <MyComps.RichEditor OnTextChanged="@TextChanged" ></MyComps.RichEditor>
    </div>
    <div class="col-sm-6">
        <div class="p-3 ql-container ql-snow">
            <span class="ql-editor">
                @((MarkupString)text)
            </span>
        </div>
    </div>
</div>

@code {
    string text = "...";

    void TextChanged(string text)
    {
        this.text = text;
    }
}
