@page "/rich-editor"
@rendermode InteractiveServer

<h3>Rich Editor</h3>

<div class="row">
    <div class="col-sm-6">
        <MyComps.RichEditor EditorInitialized="@ListenEditor" @ref="editorRef"></MyComps.RichEditor>
    </div>
    <div class="col-sm-6">
        <div class="ql-container ql-snow" style="border: none">
            <span class="ql-editor" style="font-size: 14px; line-height: 1.5" @ref="reviewRef"></span>
        </div>
    </div>
</div>

@code {
    MyComps.RichEditor editorRef = default!;
    ElementReference reviewRef;

    async Task ListenEditor()
    {
        await editorRef.ReviewOnRef(reviewRef);
    }
}
